doctype html
html
  head
    title Dashboard

  body
    h1 Dashboard

    div(id='orders')

  script(src="/javascripts/jquery.min.js")
  script(src="https://code.highcharts.com/highcharts.src.js")
  script(src="/javascripts/observer.js")
  script(src="/javascripts/simple-chart.js")
  script(src="/javascripts/dashboard.js")

